body {
    font-family: 'Inter', sans-serif;
    background: #E1D4C9;
    font-size: 16px;
    width: 1440px;
    margin: 0 auto;
    margin: 20px 40px;
    
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #403F3D;
    font-weight: 600;
    line-height: 150%;
}

.menu-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

.menu-item {
    margin-right: 40px;
}

.menu-item:last-child {
    margin-right: 0;
}

.menu-item a {
    color: #403F3D;
    text-decoration: none;
    font-weight: 600;
    line-height: 150%;
}

.menu-item a:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.header-span {
    color: #B0907A;
    font-style:italic;
    font-weight: 600;
    line-height: 125%;
    font-size: 60px;
}

a.menu-link {
    padding-right: 25px;
    line-height: 150%;
    background-image: url("../img/coffee-cup.svg");
    background-repeat: no-repeat;
    background-position: right top;
}

a.menu-link:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    text-decoration-skip: none;
}

.base-header {
    background-image: url("../img/img-hero.jpg");
    background-position:center center;
    background-repeat: no-repeat;
    border-radius: 40px;

    padding-left: 100px;
    padding-top: 100px;
    height: 644px;
}

h1 {
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;
    width: 530px;
    color: #E1D4C9;
}

.base-header p {
    color: #E1D4C9;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    width: 530px;
}

.button-menu {
    border-radius: 100px;
    border: none;
    background-color:#E1D4C9;
    padding: 20px 78px;
    margin-top: 40px;
    font-weight: 600;
    line-height: 150%;
    color: #403F3D;
}

.button-menu:hover {
    background-image: url("../img/coffee-cup.svg");
    background-repeat: no-repeat;
    background-position: right 50px center;
    margin-right: 8px;
}

h2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    color: #403F3D;
}

img {
    max-width: 100%;
    height: auto;
}

.favorite-coffee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.favorite-coffee--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
}

.favorite-coffee--content {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    width: 480px;
}

.favorite-coffee--price {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
}

.about-img--items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    gap: 40px;
}


.about-img--item img {
    border-radius: 20px;
}

.mobile-up h2 {
    width:630px;
}

.mobile-up p {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    width:630px;
}

.button-outline {
    border-radius: 100px;
    border: 1px solid #403F3D;
    background-color:#E1D4C9;
    width: 200px;
    height: 64px;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: #403F3D;
    text-align: left;
    padding-left:20px;
}

.btn-apple {
    background-image: url("../img/apple.svg");
    background-repeat: no-repeat;
    background-position:left 20px center;
    padding-left:64px;
}

.btn-google {
    background-image: url("../img/google.svg");
    background-repeat: no-repeat;
    background-position:left 20px center;
    padding-left:64px;
}

.button-outline span {
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;
}

footer {
    border-radius: 40px;
    background:#665F55;
}

.contact-us h2 {
    color: #E1D4C9;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding:0;
}

.footer-navigation {
    color: #E1D4C9;
}

.footer-navigation h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
}

.social-media--item {
    padding-right: 12px;
}

.address::before {
    background: no-repeat center url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2LjY2NjMgOC4zMzMyOUMxNi42NjYzIDEyLjAxNTIgOS45OTk2NyAxOC4zMzMzIDkuOTk5NjcgMTguMzMzM0M5Ljk5OTY3IDE4LjMzMzMgMy4zMzMwMSAxMi4wMTUyIDMuMzMzMDEgOC4zMzMyOUMzLjMzMzAxIDQuNjUxMzkgNi4zMTc3OCAxLjY2NjYzIDkuOTk5NjcgMS42NjY2M0MxMy42ODE2IDEuNjY2NjMgMTYuNjY2MyA0LjY1MTM5IDE2LjY2NjMgOC4zMzMyOVoiIHN0cm9rZT0iI0UxRDRDOSIgc3Ryb2tlLXdpZHRoPSIxLjUiLz4KPHBhdGggZD0iTTEwLjAwMDMgOS4xNjY2N0MxMC40NjA2IDkuMTY2NjcgMTAuODMzNyA4Ljc5MzU3IDEwLjgzMzcgOC4zMzMzM0MxMC44MzM3IDcuODczMSAxMC40NjA2IDcuNSAxMC4wMDAzIDcuNUM5LjU0MDA5IDcuNSA5LjE2Njk5IDcuODczMSA5LjE2Njk5IDguMzMzMzNDOS4xNjY5OSA4Ljc5MzU3IDkuNTQwMDkgOS4xNjY2NyAxMC4wMDAzIDkuMTY2NjdaIiBmaWxsPSIjRTFENEM5IiBzdHJva2U9IiNFMUQ0QzkiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==');
}

.tel::before {
    background: no-repeat center url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1LjA5ODQgMTIuMjUxNkwxMS42NjY1IDEyLjkxNjZDOS4zNDg0NSAxMS43NTMxIDcuOTE2NTQgMTAuNDE2NiA3LjA4MzIxIDguMzMzMjlMNy43MjQ4MyA0Ljg5MTU0TDYuNTExOTcgMS42NjY2M0wzLjcyOTQ2IDEuNjY2NjNDMi42MDE5MSAxLjY2NjYzIDEuNzE0NjYgMi41OTk1OCAxLjkwMTA4IDMuNzExNjFDMi4yOTg4OCA2LjA4NDU0IDMuMzcyMzEgMTAuMDM5MSA2LjI0OTg3IDEyLjkxNjZDOS4yNzMzOCAxNS45NDAxIDEzLjU2NjEgMTcuMzMxOCAxNi4xMzc4IDE3LjkyODhDMTcuMjk5IDE4LjE5ODMgMTguMzMzMiAxNy4yOTA4IDE4LjMzMzIgMTYuMDk4OEwxOC4zMzMyIDEzLjQ4NDNMMTUuMDk4NCAxMi4yNTE2WiIgc3Ryb2tlPSIjRTFENEM5IiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=');
}

.time-work::before {
    background: no-repeat center url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9ImNsb2NrIiBjbGlwLXBhdGg9InVybCgjY2xpcDBfMjE3XzE3MzYpIj4KPHBhdGggaWQ9IlZlY3RvciIgZD0iTTEwIDVMMTAgMTBMMTUgMTAiIHN0cm9rZT0iI0UxRDRDOSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBpZD0iVmVjdG9yXzIiIGQ9Ik0xMC4wMDAzIDE4LjMzMzNDMTQuNjAyNyAxOC4zMzMzIDE4LjMzMzcgMTQuNjAyMyAxOC4zMzM3IDkuOTk5OTZDMTguMzMzNyA1LjM5NzU5IDE0LjYwMjcgMS42NjY2MyAxMC4wMDAzIDEuNjY2NjNDNS4zOTc5NSAxLjY2NjYzIDEuNjY2OTkgNS4zOTc1OSAxLjY2Njk5IDkuOTk5OTZDMS42NjY5OSAxNC42MDIzIDUuMzk3OTUgMTguMzMzMyAxMC4wMDAzIDE4LjMzMzNaIiBzdHJva2U9IiNFMUQ0QzkiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8yMTdfMTczNiI+CjxyZWN0IHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgZmlsbD0id2hpdGUiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4K');
}